/bin/
/bower_components/
/node_modules/
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/vendor/
/web/assets/*
/web/bundles/
/app/bootstrap.php.cache
/app/config/parameters.yml
/cache.properties
/composer.phar
/npm-debug.log
/src/CatalogBundle/Resources/config/parameters.yml
