/web/bundles/
/app/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/app/config/parameters.yml
/web/assets/*
/vendor/*
/bin/
/composer.phar
node_modules/
bower_components
cache.properties
npm-debug.log