{% extends 'base.html.twig' %}

{% block body %}
    <hidden id="characters-data" value='{{ characters }}'></hidden>
    <section id="characters"></section>

    {{ include('paginate.html.twig') }}
{% endblock %}
